// Variables
$blk: #000;
$blue: #48B4FF;
$br: .25rem;
$ddgrey: #898A8D;
$dgrey: #CFD1D4;
$drk: #262A2B;
$fontG: georgia, Helvetica, sans-serif;
$fontOS: 'Open Sans', Helvetica, sans-serif;
$fontOSB:  'Open Sans -Bold', Helvetica, sans-serif;
$lgrey: #E8EAEF;
$mred: #DE2E48;
$wht: #fff;
