/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  font-size: 10px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 10px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: georgia, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%; }
  body a {
    color: #DE2E48; }
    body a:hover {
      cursor: pointer; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }

h3 {
  font-family: "Open Sans -Bold", Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  margin: 4rem 0 2rem 1rem; }

h4 {
  font-family: "Open Sans -Bold", Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 1.5rem; }

ul li {
  background-image: url("../../img/bullet.png");
  background-position: 1px 7px;
  background-repeat: no-repeat;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  padding-left: 1rem; }

.navbar {
  border-radius: .25rem;
  border: 0.15rem solid #CFD1D4;
  clear: both;
  margin: 0 auto;
  padding: 1.5rem 0;
  text-align: center;
  width: 97%; }
  .navbar a {
    font-size: 1.5rem;
    padding: 1rem 2.1rem;
    text-decoration: none; }

.logo-and-search h1 {
  background-image: url("../../img/logo.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  float: left;
  height: 7rem;
  margin: 2rem 1rem;
  width: 27rem; }
.logo-and-search form {
  float: right;
  margin: 4rem 0 2rem; }
  .logo-and-search form .searchbox {
    border-radius: 0.25rem;
    font-size: 1em;
    height: 3rem;
    width: 17rem; }
  .logo-and-search form .searchbutton {
    background-color: #DE2E48;
    border-radius: 0.25rem;
    border: 13.5px solid #DE2E48;
    color: #fff;
    font-family: georgia, Helvetica, sans-serif;
    font-size: 1.25rem;
    margin-right: 1rem;
    text-align: center;
    text-shadow: 0px 1px 2px #000;
    width: 9.5rem; }
    .logo-and-search form .searchbutton:hover {
      cursor: pointer; }

.banner {
  background-image: url("../../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
  color: white;
  font-family: "Open Sans -Bold", Helvetica, sans-serif;
  margin: 1rem;
  text-align: center; }
  .banner h2 {
    display: block;
    font-size: 4em;
    font-weight: 800;
    padding: 5rem 0 0 0;
    position: relative;
    text-shadow: 0px 2px 4px #000; }
  .banner h3 {
    font-size: 1.5rem;
    padding-bottom: 4rem;
    text-shadow: 0px 2px 4px #000; }
  .banner .hiddenform {
    display: none; }

hr {
  color: #CFD1D4;
  margin: 2rem auto;
  width: 97%; }

.all-memberships ul {
  margin-left: 1rem; }

.membership {
  box-sizing: border-box; }

.membership-form {
  background-color: #E8EAEF;
  border-radius: 0.25rem;
  margin: 0 1rem;
  padding: 1.5rem; }
  .membership-form:after {
    content: "";
    display: table;
    clear: both; }
  .membership-form label, .membership-form input[type="text"] {
    border-radius: .5rem;
    box-sizing: border-box;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%; }
  .membership-form .columns {
    width: 100%; }
    .membership-form .columns .column {
      border-radius: .5rem;
      display: inline-block;
      width: 48%; }
      .membership-form .columns .column:nth-child(1) {
        margin-right: 3%; }

.membership-levels-container {
  background-color: #CFD1D4;
  border-radius: 0.25rem;
  padding: 1%;
  width: 99%; }
  .membership-levels-container h4 {
    padding: 1.5rem;
    text-align: center; }
  .membership-levels-container .membership-levels {
    background-color: white;
    border-radius: 0.25rem;
    display: inline-block;
    margin: 1%;
    padding-left: 1%;
    vertical-align: top;
    width: 30%; }

.membership-submit .membership-submit-item {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 2rem;
  vertical-align: top;
  width: 45%; }

.membership-submit-button {
  -webkit-appearance: none;
  background-color: #DE2E48;
  border-radius: 0.25rem;
  border: 1rem solid #DE2E48;
  color: white;
  float: right;
  font-family: georgia, Helvetica, sans-serif;
  font-size: 1.25rem;
  text-shadow: 0px 1px 2px #000; }
  .membership-submit-button:hover {
    cursor: pointer; }

.secondary-nav {
  margin: 1rem; }
  .secondary-nav ul {
    list-style-position: inside;
    list-style: none; }
    .secondary-nav ul li {
      background-image: none;
      padding-bottom: 1.2rem; }
  .secondary-nav .secondary-nav-item {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    width: 33%; }
    .secondary-nav .secondary-nav-item h3 {
      font-family: "Open Sans -Bold", Helvetica, sans-serif;
      font-size: 1.5rem;
      margin: 1rem; }

.address {
  background-color: #262A2B;
  color: white;
  font-family: georgia, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2.3rem;
  padding: 3rem 0;
  text-align: center; }

footer {
  background-color: #262A2B;
  display: block;
  padding: 2rem;
  text-align: center; }

.footer-links {
  background-color: #262A2B;
  width: 100%; }
  .footer-links a {
    color: #48B4FF;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 1rem;
    padding: 2rem 0;
    text-align: center; }

@media only screen and (max-width: 1024px) {
  .navbar {
    border: 0.15rem solid #CFD1D4;
    padding: 0; }
    .navbar a {
      border-bottom: 0.15rem solid #CFD1D4;
      display: block; }
    .navbar a:last-child {
      border-bottom: none; }

  .banner {
    background-color: #E8EAEF;
    background-image: none;
    text-align: left; }
    .banner h2 {
      color: #000;
      font-size: 3em;
      padding: 0 0 1rem 1rem;
      text-shadow: none; }
    .banner h3 {
      color: #898A8D;
      margin: 0;
      padding-left: 1rem;
      text-shadow: none; }
    .banner hr {
      margin: 3rem auto 0; }

  .banner .hiddenform {
    display: inline-block;
    margin: 4rem auto;
    text-align: center;
    width: 100%; }

  .searchbox {
    border-radius: .25rem;
    font-size: 1em;
    height: 3.25rem;
    width: 60%; }

  .searchbutton {
    background-color: #DE2E48;
    border-radius: 0.25rem;
    border: 1rem solid #DE2E48;
    color: white;
    font-family: georgia, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 1rem auto;
    text-shadow: 0px 1px 2px #000;
    width: 30%; }

  .secondary-nav ul li {
    background-image: none; }
  .secondary-nav .secondary-nav-item {
    display: inline-block;
    vertical-align: top;
    width: 32%; }
    .secondary-nav .secondary-nav-item h3 {
      font-family: "Open Sans -Bold", Helvetica, sans-serif;
      margin: 1rem; }

  header .logo-and-search h1 {
    background-position: center;
    float: none;
    margin: 3rem auto;
    height: 6rem;
    width: 23rem; }
  header .logo-and-search form {
    display: none; }

  .tell-us {
    padding: 2rem 0; }

  .membership-submit .membership-submit-item h3 {
    font-size: 1.9rem; }

  .membership-submit-button {
    font-size: 1rem; }

  .membership-form {
    margin: .5rem 0; }
    .membership-form label, .membership-form input[type="text"] {
      font-size: 1.1rem;
      margin-bottom: 0; }

  .membership-levels-container {
    background-color: #E8EAEF; }
    .membership-levels-container .membership-levels {
      background-color: white;
      border-radius: .25rem;
      display: inline-block;
      margin: .2rem;
      padding: .60rem;
      vertical-align: top;
      width: 95%; } }
@media only screen and (max-width: 480px) {
  .logo-and-search {
    width: 100%; }
    .logo-and-search h1 {
      background-position: center;
      background-size: 80%; }

  .banner h2 {
    font-size: 2rem; }
  .banner h3 {
    color: #898A8D;
    font-size: 1.45rem;
    margin: 0; }
  .banner h4 {
    font-size: 1.24rem;
    margin: none; }

  .banner .hiddenform {
    margin: .5rem auto; }

  .banner .hiddenform .searchbox {
    border-radius: .15rem;
    font-size: .5rem;
    width: 90%; }
  .banner .hiddenform .searchbutton {
    height: 4.25rem;
    width: 90%; }

  .membership-form .columns .column {
    width: 100%; }

  .membership-submit .membership-submit-item {
    display: block;
    width: 100%; }

  .membership-submit-button {
    border-radius: .15rem;
    width: 99%; }

  .logo-and-search h1 {
    width: 100%; }

  .secondary-nav {
    margin: 2rem auto;
    width: 95%; }
    .secondary-nav ul {
      border: 0.15rem solid #CFD1D4;
      border-radius: 0.25rem; }
      .secondary-nav ul li {
        background-image: none;
        border-bottom: 0.15rem solid #CFD1D4;
        padding: 1.2rem; }
        .secondary-nav ul li:last-child {
          border-bottom: none; }
        .secondary-nav ul li a {
          text-decoration: none; }
    .secondary-nav .secondary-nav-item {
      width: 100%;
      text-align: center; }
      .secondary-nav .secondary-nav-item h3 {
        text-align: left; } }

/*# sourceMappingURL=style.css.map */
